body {
    direction: rtl;
    font-family: NarkisTam, sans-serif;
    background-color: #FFFFF8;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
}

.header {
    font-family: NarkisTam, sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: black;
}

.subheader {
    color: #FF6666;
}

p {
    margin-top: 2em;
    margin-bottom: 2em;
}


.info {
    display: none;
    font-size: 65px;
    font-weight: 300;
    opacity: 1;
    vertical-align: middle;
}

.info:hover {
    opacity: 1;
}

.choice {
    display: none;
    color: #FF6666;
    font-size: 70px;
    font-weight: 100;
}


.op0 {
    display: inline-block;
    float: right;
    color: red;
    width: 45%;
}

.op1 {
    float: left;
    width: 45%;
    display: inline-block;
    color: navy;
}

.op2 {
    display: inline-block;
    /*float: right;*/
    color: red;
    width: 45%;
}

div.op0::before {
    display: inline;
    content: attr(title);
    font-weight: 300;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

div.op1::before {
    display: inline;
    content: attr(title);
    font-weight: 300;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

div.op2::before {
    display: inline;
    content: attr(title);
    font-weight: 300;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}


div.op1:hover {
    font-weight: 300;
    display: inline;
    cursor: pointer;

}

div.op0:hover {
    font-weight: 300;
    display: inline;
    cursor: pointer;

}

div.op2:hover {
    font-weight: 300;
    display: inline;
    cursor: pointer;

}

@font-face {
    font-family: NarkisTam;
    src: url("./res/fonts/narkis_tam/narkis_tam_bold.otf");
    font-weight: 300;
}


@font-face {
    font-family: NarkisTam;
    src: url("./res/fonts/narkis_tam/narkis_tam_regular.otf");
    font-weight: 200;
}

@font-face {
    font-family: NarkisTam;
    src: url("./res/fonts/narkis_tam/narkis_tam_light.otf");
    font-weight: 100;
}